#kickStarterBlock>h5{
    color: #034752;
}
#kickStarterBlock{
    background-color: white;
}

#asosBlock>h5{
    color:#000000;
}
#asosBlock{
    background-color: white;
}

#sudokuBlock>h5{
    color:#ff946d;
    /* background-color: #ff946d; */
}
#sudokuBlock{
    background-color: white;
}

#contact.four{
    margin-bottom: -80px;
    padding-bottom: -500px;
}
#contactTable{
    background-color: #b3b3b3;
    height: 100%;
    position: relative;
    bottom: 0px;
    color: black;
}
.flexBox{
    display: flex;
    align-items: center;
    height:3em;
}
.flexBox>div>img{
    width:20%;
}
.flexBox>div>div{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-decoration: none;
}
.flexBox>div{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}
.dpt{
    padding: 0px;
    margin: 0px;
}
.linkBar{
    display: flex;
    align-content: space-between;
    justify-content: space-between;
    padding:0px 20px;
}

.linkBarStyle1{
    background-color: black
}
.linkBarStyle2{
    background-color: #034752;
}
.linkBarStyle3{
    background-color: #49fcd4;
}
.smallSize{
  font-size: 18px;
  font-weight: bold;
}
.skillBlock{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
    margin: auto;
    
}
.skillImage{
    width: 50%;
} 
.skillBlock p{

    font-weight: bold;
    color: black
}

#techHeading{
    color: #000000;
}

#title{
    
}

@media all and (min-width: 768px) and (max-width: 1024px) {
    .skillImage{
        width: 50%;
    }   
}
@media all and (min-width: 420px) and (max-width: 767px) {
    .skillBlock{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap:10px;
    margin: auto;
    }
    .skillImage{
        width: 50%;
    } 
}
@media all and (min-width: 10px) and (max-width: 419px) {
    .skillBlock{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap: 0px;
    margin: auto;
    }
    .skillImage{
        width: 50%;
    } 
}
