#contactTable{
    background-color: #b3b3b3;
    height: 100%;
    position: relative;
    bottom: 0px;
    color: black;
}
.flexBox{
    display: flex;
    align-items: center;
    height:3em;
}
.flexBox>div>img{
    width:20%;
}
.flexBox>div>div{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-decoration: none;
}
.flexBox>div{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}
.dpt{
    padding: 0px;
    margin: 0px;
}
.linkBar{
    display: flex;
    align-content: space-between;
    justify-content: space-between;
    padding:0px 20px;
}

.linkBarStyle1{
    background-color: black
}
.linkBarStyle2{
    background-color: #034752;
}
.linkBarStyle3{
    background-color: #49fcd4;
}
.img__description {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(29, 106, 154, 0.72);
    color: #fff;
    visibility: hidden;
    opacity: 0;
  
    /* transition effect. not necessary */
    transition: opacity .2s, visibility .2s;
  }
  .item:hover .img__description {
    color:black;
    visibility: visible;
    opacity: 1;
    z-index: 5;
  }
  .smallSize{
    font-size: 18px;
  }
  #block1work{
    transition: 1s;
  }
  #kickStarterBlock{
    transition: 1s;
  }
  .col-4 col-12-mobile{
    transition: 1s;
  }